[submodule "LeetCodeCpp/vendor/nlohmannjson"]
	path = LeetCodeCpp/vendor/nlohmannjson
	url = https://github.com/nlohmann/json
	branch = develop

[submodule "LeetCodeCpp/vendor/vcpkg"]
	path = LeetCodeCpp/vendor/nlohmannjson
	url = https://github.com/microsoft/vcpkg
	branch = master
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg
